<% let contactDetail = {name: '',phone:'',email:''}%>
<div class="container mt-5">
    <div class="row">
        <h2 class="mb-4">Contact List <span class=" ms-2 badge bg-success"><%= contacts.length %> </span></h2>
        <% if(msg.length !== 0){ %>
            <div class="alert alert-success mb-3" role="alert">
                <%= msg %> 
            </div>
        <% } %>  
    </div>
    <div class="row mb-2">
        <div class="col">
            <a href="/contact/add">
                <button class="btn btn-success"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  </svg> Add contact</button>
            </a>
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <td>No</td>
                        <td>Phone Number</td>
                        <td>Name</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <% if(contacts.length !== 0){ %>
                        <% contacts.forEach((e,i) => { %>
                            <tr>
                                <td><%= i+1 %> </td>
                                <td><%= e.name %> </td>
                                <td><%= e.phone %> </td>
                                <td class="text-center"> 
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal" name="<%=e.name%>" data-bs-target="#detailModal">Detail</button>
                                    <a href="/contact/delete/<%= e.phone %> " type="button" class="btn btn-danger">Remove</a>
                                </td>
                            </tr>
                        <% }) %>  
                    <% } else{ %>  
                        <tr>
                            <div>
                                <td colspan="4">
                                    <p class="text-center">Contact is Empty</p>
                                </td>
                            </div>
                        </tr>
                    <% } %> 
                </tbody>
              </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detail</h5>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <tr>
                <th>Phone Number: </th>
                <td><%= contactDetail.phone %> </td>
            </tr>
            <tr>
                <th>Name: </th>
                <td><%= contactDetail.name %> </td>
            </tr>
            <tr>
                <th>Email: </th>
                <td><%= contactDetail.email%> </td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>